html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    height: 100%;

    overflow-y: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

body {
    color: #737373;
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    min-height: 100%;
    height: 100%;
    padding: 0;
}

p, li {
    font-size: 17px;
}

.site-main {
    padding: 0;
    width: 100%;
    /* push footer to bottom of screen */
    min-height: calc(100% - 150px);
}

.main-wrapper {
    padding-left: 10%;
    padding-top: 220px;
    padding-bottom: 200px;
}

.bg-profile {
    position: relative;
    right: 0;
    height: 560px;
    top: -560px;
    width: 700px;
    float: right;
    text-align: center;
    overflow: hidden;
    z-index: -100;
}

.profilepic {
    width: auto;
    height: inherit;
    position: relative;
}

.text-container {
    padding-right: 700px;
}

a {
    color: #737373;
    text-decoration: underline;
}

a:hover {
    color:darker(#737373,15%);
}

a.more {
    color: #2196F3;
    text-decoration: none;
}

a.more:hover {
    color: #1565C0;
}


#signature{
    margin-top:20px;
    width:120px;
    margin-left: -10px;
    max-width: 80%;
}

.name-tag {
    font-size: 24px;
    position: absolute;
    left: 36px;
    top: 27px;
    color: #2196F3;
    font-weight: bold;
    letter-spacing: 1px;
    font-variant: small-caps;
}

#menu {
    position: absolute;
    right: 36px;
    top: 27px;
    z-index: 999;
}
#menu a {
    text-decoration: none;
    font-weight: normal;
}
#menu ul {
    list-style: none;
    margin: 0;
    text-align: right;
}
#menu li {
    font-size: 22px;
    display: inline-block;
    padding-left: 20px;
    font-weight: normal;
}

.badge-large {
    display: block;
    width: 260px;
    position: absolute;
    left: 50%;
    top: 80px;
}

.badge-small {
    display: none;
    width: 140px;
    margin-left: 30px;
}

@media all and (max-width: 1200px) {
    .text-container {
        padding-right: 60%;
    }
    .bg-profile {
        width: 50%;
        height: 400px;
        top: -400px; /* footer has 20px padding */
    }
    .main-wrapper {
        padding-top: 190px;
    }
    .badge-large {
        width: 220px;
        left: 65%;
        top: 150px;
    }
}
@media all and (max-width: 700px) {
    .text-container {
        padding-right: 10%;
    }
    .bg-profile img.profilepic {
        display: none;
    }
    .main-wrapper {
        padding-top: 150px;
    }
    #menu li {
        display: block;
    }
    .badge-large {
        display: none;
    }
    .badge-small {
        display: inline-block;
    }
}

/* initially hidden text */
.hide-block, .hide-inline {
    display: none;
}

/* footer */

footer.site-footer {
    background-color: #eaeaea;
    height: 150px;
    border-top: 3px solid #2196F3;
    -moz-box-shadow: inset 0 7px 17px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 7px 17px 0 rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 7px 17px 0 rgba(0, 0, 0, 0.2);
}

/* on too small screens the send button is on new line -> stretch footer */
@media all and (max-width: 400px) {
    footer.site-footer {
        height: 200px;
    }
    .site-main {
        /* push footer to bottom of screen */
        min-height: calc(100% - 150px);
    }
    #signature {
        display: block;
        margin-left: 25%;
        width: 50%;
    }
    .badge-small {
        display: block;
        margin-top: 40px;
        margin-left: 25%;
        width: 50%;
    }
    p, li {
        font-size: 15px;
    }
}

.link-section {
    font-size: medium;
    margin-top: 35px;
}

.link-section, .short-feedback{
    line-height: normal;
    position:relative;
    left: 0;
    right: 0;
    height: 30px;
    text-align: center;
}

.center-wrapper {
    position: absolute;
    left: 0;
    right: 0;
}

.feedback-thanks {
    padding-top: 25px;
    color: #2196F3;
    font-weight: lighter;
}
